// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV 1
#define MEDIA 2
#define NUM 3
#define SYM 4
#define FUN 5

/* HYPER KEY DEFINITIONS
   We define these here to keep the main keymap clean and avoid
   parser errors with deep nesting in the bindings array.
*/
#define H_1 LS(LC(LA(LG(N1))))
#define H_2 LS(LC(LA(LG(N2))))
#define H_3 LS(LC(LA(LG(N3))))
#define H_4 LS(LC(LA(LG(N4))))
#define H_5 LS(LC(LA(LG(N5))))

/ {
    combos {
        compatible = "zmk,combos";
        
        /* Q + W = ESC (Indices 13 and 14 on the 54-key matrix) */
        combo_esc_left {
            timeout-ms = <50>;
            key-positions = <13 14>; 
            bindings = <&kp ESC>;
        };
    };
    
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* COSMOS 54-KEY MATRIX
           Rows are padded with &none to center your 34-key layout.
           We use manual expansion for Home Row Mods to ensure stability.
        */

        default_layer {
            bindings = <
            /* Row 0: Unused Numbers */
            &none  &none  &none  &none  &none  &none        &none  &none  &none  &none  &none  &none

            /* Row 1: QWERTY */
            &none  &kp Q  &kp W  &kp F  &kp P  &kp G        &kp J  &kp L  &kp U  &kp Y  &kp SQT  &none 

            /* Row 2: Home Row Mods (Manually Written) */
            &none  
            &ht LSHFT A   &ht LALT R    &ht LCTRL S   &ht LGUI T    &kp D        
            &kp H         &ht RGUI N    &ht RCTRL E   &ht RALT I    &ht RSHFT O   
            &none

            /* Row 3: Bottom */
            &none  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp K  &kp M  &kp COMMA &kp DOT &kp FSLH &none

            /* Thumbs */
            &none  &lt MEDIA SPACE  &lt NAV TAB             &lt SYM RET  &lt NUM BSPC  &none
            >;
        };

        nav_layer {
            bindings = <
            &none  &none  &none  &none  &none  &none        &none  &none  &none  &none  &none  &none
            
            /* Hyper Keys using the definitions from top of file */
            &none  &kp H_1  &kp H_2  &kp H_3  &kp H_4  &kp H_5      &kp K_AGAIN &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO &none

            &none  &trans   &trans   &trans   &trans   &trans       &kp LEFT    &kp DOWN    &kp UP     &kp RIGHT &kp CAPS   &none
            &none  &trans   &trans   &trans   &trans   &trans       &kp HOME    &kp PG_DN   &kp PG_UP  &kp END   &kp INS    &none
            
            &trans &trans &trans                                    &trans      &kp DEL     &trans
            >;
        };

        media_layer {
            bindings = <
            &none  &none   &none   &none   &none   &none        &none   &none        &none        &none   &none   &none
            &none  &trans  &trans  &trans  &trans  &trans       &trans  &trans       &trans       &trans  &trans  &none
            &none  &trans  &trans  &trans  &trans  &trans       &trans  &kp C_VOL_DN &kp C_VOL_UP &trans  &trans  &none
            &none  &trans  &trans  &trans  &trans  &trans       &trans  &kp C_PREV   &kp C_NEXT   &trans  &trans  &none
            &trans &trans &trans                                &kp C_STOP &kp C_PP &trans
            >;
        };

        num_layer {
            bindings = <
            &none  &none     &none   &none   &none   &none       &none   &none   &none   &none   &none   &none
            &none  &kp LBKT  &kp N7  &kp N8  &kp N9  &kp RBKT    &trans  &trans  &trans  &trans  &trans  &none
            &none  &kp SEMI  &kp N4  &kp N5  &kp N6  &kp EQUAL   &trans  &trans  &trans  &trans  &trans  &none
            &none  &kp GRAVE &kp N1  &kp N2  &kp N3  &kp BSLH    &trans  &trans  &trans  &trans  &trans  &none
            &kp DOT &kp N0 &trans                                &trans  &trans  &trans
            >;
        };

        sym_layer {
            bindings = <
            &none  &none      &none     &none      &none      &none        &none   &none   &none   &none   &none   &none
            &none  &kp LBRC   &kp AMPS  &kp STAR   &kp LPAR   &kp RBRC     &trans  &trans  &trans  &trans  &trans  &none
            &none  &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS     &trans  &trans  &trans  &trans  &trans  &none
            &none  &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE     &trans  &trans  &trans  &trans  &trans  &none
            &kp LPAR &kp RPAR &trans                                       &trans  &trans  &trans
            >;
        };

        fun_layer {
            bindings = <
            &none  &none    &none   &none   &none   &none        &none   &none   &none   &none   &none      &none
            &none  &kp F12  &kp F7  &kp F8  &kp F9  &kp PSCRN    &trans  &trans  &trans  &trans  &sys_reset &none
            &none  &kp F11  &kp F4  &kp F5  &kp F6  &kp SLCK     &trans  &trans  &trans  &trans  &trans     &none
            &none  &kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE    &trans  &trans  &trans  &trans  &trans     &none
            &bootloader &trans &trans                            &trans  &trans  &bootloader
            >;
        };
    };
};
